* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #9ca29e77;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.wrapper {
  box-shadow: 0 0 8px 0;
  margin: 10px;
  width: 50%;
  background-color: white;
  padding: 30px 30px 5px 30px;
}
.form {
  margin: 10px;
}
.h1 {
  margin-bottom: 5px;
  color: #04310e;
}
.taskInput {
  border: none;
  border-bottom: 2px solid rgb(114, 97, 98);
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
}
.primary-btn {
  padding: 15px 20px 15px 20px;
  font-weight: bold;
  margin-top: 10px;
  /* margin: 15px 0 0 10px; */
  color: #fff;
  background-color: #187959;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.primary-btn:hover {
  background-color: #0f1414;
  color: #fff;
}
.h2 {
  margin: 10px;
  color: #187971;
  font-size: 18px;
}
.filterTask {
  margin: 10px;
}
.filterInput,
.filterInput2 {
  border: none;
  /* margin-bottom: 10px; */
  border-bottom: 2px solid rgb(97, 97, 114);
  width: 100%;
  font-size: 15px;
  padding: 10px;
  outline: none;
  background-color: transparent;
}
.taskList ul {
  list-style: none;
}
.list-items {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  border: 2px solid #dce4e3;
  margin: 5px;
  font-size: 20px;
  border-radius: 5px;
}
.secondary-btn {
  padding: 5px 30px 5px 30px;
  color: #e1fdfd;
  background-color: #030202;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  text-transform: capitalize;
  border: none;
}
.secondary-btn:hover,
.clearCompleteBtn:hover,
.clearTask:hover {
  background-color: #ca1b1b;
}
.completed-h1 {
  color: #04310e;
  text-align: center;
  text-decoration: underline 2px solid rgb(5, 41, 7);
  margin-bottom: 3%;
  padding: 5px;
  border-top: 2px solid grey;
  font-size: 35px;
}
.i {
  color: green;
  margin-left: 80px;
  margin-top: 5px;
}
.ol {
  list-style: none;
}
.reportList {
  margin: 0 10px 10px 10px;
  border-bottom: 1px solid black;
}
.completed-lists {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-left: 2%;
  color: #253b34;
  outline: none;
  padding: 10px;
  font-weight: bold;
  /* list-style: disc; */
  border-top: 2px solid rgb(16, 17, 16);
  border-left: 2px solid rgb(16, 17, 16);
}
.reset {
  display: flex;
  justify-content: space-between;
}
.clearCompleteBtn,
.clearTask,
.completed {
  padding: 5px 30px 5px 30px;
  color: #e1fdfd;
  background-color: #030202;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bolder;
  text-transform: capitalize;
  border: none;
}
.completed:hover {
  background-color: green;
}
.report {
  width: 50%;
}
.dateAndTime {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.savedReport {
  background-color: #fff;

  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 8px 0;
}
.time {
  text-align: right;
  border: none;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: #187959;
  border-radius: 5px;
  font-size: 12px;
}
.div {
  display: flex;
}

.reportH1 {
  text-align: center;
  margin: 10px;
}
.resultUl {
  list-style-type: none;
}
.resultLi {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-right: 20%;
  border-bottom: 2px solid grey;
  width: 100%;
}
.resultWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repH1 {
  border-bottom: 2px solid grey;
  color: white;
  background-color: #187959;
  text-align: center;
}
.done {
  color: green;
  margin: 10px 0 0 0;
  font-size: 35px;
}
.footer {
  text-align: center;
  margin: 20px 20px 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  color: rgb(14, 50, 39);
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .completed-h1 {
    color: #04310e;
    text-align: center;
    text-decoration: underline 2px solid rgb(5, 41, 7);
    margin-bottom: 3%;
    padding: 5px;
    border-top: 2px solid grey;
    font-size: 26px;
  }
  .clearCompleteBtn,
  .clearTask,
  .completed,
  .secondary-btn {
    padding: 5px 10px 5px 10px;
    color: #e1fdfd;
    background-color: #030202;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bolder;
    text-transform: capitalize;
    border: none;
    width: 95%;
  }
  .reset {
    display: block;
  }
  .dateAndTime {
    display: none;
    margin-left: 20px;
  }
  .wrapper {
    box-shadow: 0 0 8px 0;
    margin: 10px;
    width: 90%;
    background-color: white;
  }
  .primary-btn {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    margin: none;
    color: #fff;
    background-color: #187959;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 100%;
  }
  .list-items {
    display: block;
    margin-bottom: 15px;
    overflow-x: scroll;
  }
  .div {
    text-align: center;
    /* margin-left: 30%; */
  }
  .completed-lists {
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-left: 2%;
    color: #253b34;
    outline: none;
    padding: 10px;
    font-weight: bold;
    border-top: 2px solid rgb(16, 17, 16);
    border-left: 2px solid rgb(16, 17, 16);
    overflow-x: scroll;
    /* display: block; */
  }
  .h2 {
    margin: 10px;
    color: #187971;
    font-size: 17px;
  }
  .repH1 {
    border-bottom: 2px solid grey;
    color: white;
    background-color: #187959;
    text-align: center;
    margin: 0;
  }
  .resultLi {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20%;
    border-bottom: 2px solid grey;
    width: 100%;
    overflow-x: scroll;
    color: #253b34;
  }
  .report {
    width: 85%;
  }
  .i {
    margin-left: 80%;
  }
}
